.pagination__list {
  width: 100%;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-top: 50px;
  .item__pagination {
    margin: 20px;
  }
  .btn__pagination {
    width: 20px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
  }
}

.active {
  width: 20px;
  border: 2px gray solid;
  border-radius: 10px;
}

.pagination__block {
  margin: 0 auto;
  display: flex;
}

.btn {
  width: 70px;
  height: 40px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
