.main__cards {
  width: 1000px;
  margin: 0 auto;
  .title__h5 {
    color: #AFADB5;
    font-size: 18px;
  }
  .title {
    font-size: 22px;
    color: #151411;
    width: 260px;
    margin: 20px 20px 20px 0;
  }
  .cards__section {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 260px 260px 260px;
    column-gap: 110px;
    row-gap: 90px;
  }
  .cards__block {
    width: 260px;
    height: 400px;
  }
  .cards__item {
    cursor: pointer;
  }
}

.block__card {
  width: 260px;
  height: 260px;
}

.pagination__main {
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.btn {
  width: 45px;
}

.count__block {
  display: flex;
  justify-content: space-between;
}