.block__title {
    width: 280px;
    height: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;
    .title {
        width: 100%;
        color:#151411;
        font-size: 64px;
        text-align: center;
    }
    .title__text {
        width: 600px;
        height: 60px;
        color: #AFADB5;
        font-size: 18px;
        text-align: center;
        position: relative;
        right: 150px;
    }
}
