.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.category__block {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 50px auto 50px auto;
  .category__item {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .cat__item {
    list-style-type: none;
  }
  .btn {
    width: 70px;
    border: none;
    border-radius: 10px;
  }
  .active {
    border: 2px red solid;
  }
}


.img__categories {
  width: 260px;
  height: 360px;
}

.block__product {
  width: 300px;
  list-style-type: none;
  .product__item {
    width: 100%;
    margin: 10px;
  }
}
